/* import the font style from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color:black;
  text-anchor: end;
}

/* body {
  background-image: linear-gradient(to right,rgb(250, 248, 246), rgba(222, 218, 213, 0.64), rgb(250, 248, 246));
} */


#map-area {
  background-color: rgba(145, 126, 126, 0.114);
  border: 5px black solid;
  border-radius: 9px;
}
.outline {
  fill: none;
  stroke: rgba(215, 207, 207, 0.773);
  stroke-width: 2.05;
  stroke-linejoin: round;
  stroke-linecap: round;
}