* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color:black;
  text-anchor: end;
}

#map-area {
  background-color: rgba(145, 126, 126, 0.114);
  border: 2.5px black solid;
  border-radius: 9px;
  width: fit-content;
  margin: 5rem auto;
}
